In [ ]:
!pip install openpyxl bs4 scikit-learn

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np
import traceback 
from src.utils import *

## Organ data 
Has waitlist and transplant information (living donor data removed)

Waiting list registrations can be selected by choosing records where WAITLIST_ID is not null.

Transplants performed can be selected by choosing records where ORGAN_TRANSPLANT_ID is not null.

In [ ]:
donor_df, _ = read_donor_data()

In [31]:
from src.utils import *
date = None #pd.to_datetime('2012-12-27')
try:
    organs, _ = read_organ_data()
    #available_organs = get_available_organs(by_date=date)
except Exception as e:
    print(e)
    traceback.print_exc()

/Users/justinebreuch/Stanford/CS238/Organ paper/src/utils.py:109: DtypeWarning: Columns (1,6,7,8,9,10,14,15,16,18,20,21,22,23,24,29,30,31,32,33,34,38,40,41,44,45,47,48,49,51,53,54,55,56,59,61,62,63,64,65,66,67,68,69,70,71,72,74,85,86,87,88,89,91,92,93,94,95,96,97,98,99,100,101,102,103,106,108,109,111,124,125,127,140,143,144,145,146,147,148,149,161,162,165,166,167,168,170,171,172,196,197,200,202,203,204,205,206,207,208,209,212,223,224,225,226,228,229,230,232,235,236,237,238,240,241,242,243,244,245,247,252,253,255,257,258,259,260,261,262,263,264,265,267,268,270,271,272,273,275,276,277,278,279,283,284,285,290,291,292,293,294,295,314,315,316,325,326,329,349,356,357,358,359,360,361,362,363,364,365,369,370,373,382,383,384,388,401,406,413,414,415) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(csv_file_path, delimiter='\t', encoding='ISO-8859-1')
/Users/justinebreuch/Stanford/CS238/Organ paper/src/utils.py:84: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  original_df.rename(columns={col: Column.from_code(col).name if Column.from_code(
/Users/justinebreuch/Stanford/CS238/Organ paper/src/utils.py:101: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  original_df[column] = original_df[column].map(
/Users/justinebreuch/Stanford/CS238/Organ paper/src/utils.py:159: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  original_df.replace('.', np.nan, inplace=True)

In [ ]:
removed_recipients = filter_dataframe(organs, lambda df: df[Column.REASON_REMOVED_WAITLIST.name] == WaitlistRemovalReason.DIED.name)
died_recipients = filter_dataframe(organs, lambda df: df[Column.RECIPIENT_STATUS.name] == RecipientStatus.DIED.name)

died_recipients[Column.REASON_REMOVED_WAITLIST.name].value_counts()
removed_recipients[Column.RECIPIENT_STATUS.name]

In [32]:
filter_dataframe(organs, lambda df: df[Column.REASON_REMOVED_WAITLIST.name] == WaitlistRemovalReason.DIED.name)

,ORGAN_TRANSPLANT_ID,WAITLIST_ID,RECIPIENT_ID,DONOR_ID,RECIPIENT_GENDER,RECIPIENT_AGE,DONOR_AGE,INIT_MELD_OR_PELD,INIT_MELD_PELD_LAB_SCORE,FINAL_MELD_OR_PELD,...,DONOR_RECIPIENT_BLOOD_LEVEL,GRAFT_FUNCTIONING,GRAFT_LIFESPAN,DONOR_ADMISSION_DATE,DONOR_TYPE,ORGAN_RECOVERY_DATE,WAITLIST_REGISTRATION_DATE,END_DATE,REASON_REMOVED_WAITLIST,RECIPIENT_STATUS
17,NaN,1624561,1425930,<NA>,F,NaN,NaN,MELD,25,MELD,...,NaN,NaN,NaN,NaN,OTHER,NaT,2021-10-08,2021-12-16,DIED,NaN
22,NaN,1529854,1346051,<NA>,F,NaN,NaN,MELD,10,MELD,...,NaN,NaN,NaN,NaN,OTHER,NaT,2020-04-16,2020-12-25,DIED,NaN
35,NaN,953539,860475,<NA>,F,NaN,NaN,MELD,16,MELD,...,NaN,NaN,NaN,NaN,OTHER,NaT,2010-12-07,2011-01-14,DIED,NaN
36,NaN,1051987,943569,<NA>,M,NaN,NaN,MELD,46,MELD,...,NaN,NaN,NaN,NaN,OTHER,NaT,2012-08-18,2012-08-22,DIED,NaN
41,NaN,267786,7404,<NA>,F,NaN,NaN,NaN,NaN,MELD,...,NaN,NaN,NaN,NaN,OTHER,NaT,1997-11-26,2002-09-10,DIED,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37218,NaN,361715,375437,<NA>,M,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,OTHER,NaT,1996-10-12,1997-04-07,DIED,NaN
37222,NaN,155754,743917,<NA>,M,NaN,NaN,MELD,13,MELD,...,NaN,NaN,NaN,NaN,OTHER,NaT,2008-08-13,2013-03-28,DIED,NaN
37228,NaN,24680,589602,<NA>,M,NaN,NaN,MELD,12,MELD,...,NaN,NaN,NaN,NaN,OTHER,NaT,2005-05-11,2006-08-19,DIED,NaN
37231,NaN,745822,473454,<NA>,M,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,OTHER,NaT,1996-06-05,1996-08-26,DIED,NaN
37235,NaN,959750,865589,<NA>,M,NaN,NaN,MELD,17,MELD,...,NaN,NaN,NaN,NaN,OTHER,NaT,2011-01-18,2012-04-29,DIED,NaN

In [9]:
recipient_status_counts = organs[Column.REASON_REMOVED_WAITLIST.name].value_counts()
recipient_status_counts

REASON_REMOVED_WAITLIST
TRANSPLANT                41912
DIED_DURING_TRANSPLANT      150
Name: count, dtype: int64

In [250]:
# Check one row per recipient
row_counts = organs['RECIPIENT_ID'].value_counts().reset_index()
duplicate_counts = row_counts[row_counts['count'] >= 2]
available_organs.merge(duplicate_counts, on='RECIPIENT_ID', how='inner').sort_values(by='RECIPIENT_ID')

Empty DataFrame
Columns: [ORGAN_TRANSPLANT_ID, WAITLIST_ID, RECIPIENT_ID, DONOR_ID, RECIPIENT_GENDER, RECIPIENT_AGE, DONOR_AGE, INIT_MELD_OR_PELD, INIT_MELD_PELD_LAB_SCORE, FINAL_MELD_OR_PELD, FINAL_MELD_PELD_LAB_SCORE, FUNCTIONAL_STATUS_AT_REGISTRATION, FUNCTIONAL_STATUS_AT_FOLLOW_UP, FUNCTIONAL_STATUS_AT_TRANSPLANT, STATUS_AT_REGISTRATION, DIAGNOSIS, PATIENT_SURVIVAL_TIME, DAYS_ON_WAITLIST, REJECTED_WITHIN_YEAR, TRANSPLANT_DATE, DONOR_LIVER_QUALITY, RECIPIENT_BLOOD_TYPE, DONOR_BLOOD_TYPE, DONOR_RECIPIENT_BLOOD_LEVEL, GRAFT_FUNCTIONING, GRAFT_LIFESPAN, DONOR_ADMISSION_DATE, DONOR_TYPE, ORGAN_RECOVERY_DATE, WAITLIST_REGISTRATION_DATE, END_DATE, REASON_REMOVED_WAITLIST, RECIPIENT_STATUS, count]
Index: []

[0 rows x 34 columns]

In [ ]:
organs_with_valid_reasons = organs.groupby(Column.WAITLIST_ID.name).filter(
    lambda group:
    (
        (group[Column.REASON_REMOVED_WAITLIST.name] == WaitlistRemovalReason.DIED).any() |
        group[Column.ORGAN_TRANSPLANT_ID.name].notna().any()
    ) 
).to_frame().reset_index(drop=True)

In [ ]:
organs_with_valid_reasons

In [164]:
available_organs[Column.REASON_REMOVED_WAITLIST.name].unique()

array(['DECEASED_DONOR', 'DIED_DURING_TRANSPLANT', 'TRANSPLANT'],
      dtype=object)

In [ ]:
testing_out_members = organ_df, _ = read_organ_data()
testing_out_members = organ_df.dropna(subset=[Column.WAITLIST_ID.name])
testing_out_members

In [127]:
testing_out_members

,ORGAN_TRANSPLANT_ID,WAITLIST_ID,RECIPIENT_ID,DONOR_ID,RECIPIENT_GENDER,RECIPIENT_AGE,DONOR_AGE,INIT_MELD_OR_PELD,INIT_MELD_PELD_LAB_SCORE,FINAL_MELD_OR_PELD,...,DONOR_RECIPIENT_BLOOD_LEVEL,GRAFT_FUNCTIONING,GRAFT_LIFESPAN,DONOR_ADMISSION_DATE,DONOR_TYPE,ORGAN_RECOVERY_DATE,WAITLIST_REGISTRATION_DATE,END_DATE,REASON_REMOVED_WAITLIST,RECIPIENT_STATUS
0,A725041,1257938,1117633,508770,F,63,58,MELD,19,MELD,...,1.0,Y,2606,01/14/2017,DECEASED,2017-01-17,2016-01-29,2017-01-17,OTHER,ALIVE
4,A326256,566097,516149,18092,M,49,47,MELD,15,MELD,...,2.0,Y,1970,NaN,DECEASED,2003-08-11,2003-04-29,2003-08-11,OTHER,DIED
5,A174575,812778,341564,57576,M,49,35,NaN,NaN,NaN,...,1.0,Y,612,NaN,DECEASED,1994-06-09,1994-04-29,1994-06-10,OTHER,DIED
7,A616354,1074736,962438,433640,M,63,58,MELD,12,MELD,...,1.0,Y,1135,07/14/2013,DECEASED,2013-07-21,2013-01-14,2013-07-22,OTHER,DIED
8,A601320,1040669,857845,422849,F,66,20,MELD,13,MELD,...,1.0,N,3,01/08/2013,DECEASED,2013-01-12,2012-06-15,2013-01-13,OTHER,DIED
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93118,A460344,555443,19387,77972,M,52,38,MELD,18,MELD,...,1.0,Y,464,NaN,DECEASED,2004-04-01,2004-01-16,2004-04-01,OTHER,DIED
93119,A251246,815011,524092,28648,M,0,1,NaN,NaN,NaN,...,1.0,NaN,8678,NaN,DECEASED,1990-11-29,1990-10-05,1990-11-30,OTHER,LOST
93121,A89531,355984,468174,141086,M,57,14,NaN,NaN,NaN,...,1.0,NaN,2240,NaN,DECEASED,1999-03-30,1999-01-04,1999-03-30,OTHER,LOST
93122,A741565,1345926,1192032,519336,M,64,30,MELD,35,MELD,...,1.0,Y,371,07/07/2017,DECEASED,2017-07-12,2017-07-07,2017-07-12,OTHER,DIED
93123,A116558,699146,107097,79587,F,58,15,NaN,NaN,NaN,...,1.0,NaN,748,NaN,DECEASED,1995-02-04,1994-10-31,1995-02-05,OTHER,LOST

In [126]:
filter_dataframe(testing_out_members, lambda df: df['RECIPIENT_ID'].isna())

Empty DataFrame
Columns: [ORGAN_TRANSPLANT_ID, WAITLIST_ID, RECIPIENT_ID, DONOR_ID, RECIPIENT_GENDER, RECIPIENT_AGE, DONOR_AGE, INIT_MELD_OR_PELD, INIT_MELD_PELD_LAB_SCORE, FINAL_MELD_OR_PELD, FINAL_MELD_PELD_LAB_SCORE, FUNCTIONAL_STATUS_AT_REGISTRATION, FUNCTIONAL_STATUS_AT_FOLLOW_UP, FUNCTIONAL_STATUS_AT_TRANSPLANT, STATUS_AT_REGISTRATION, DIAGNOSIS, PATIENT_SURVIVAL_TIME, DAYS_ON_WAITLIST, REJECTED_WITHIN_YEAR, TRANSPLANT_DATE, DONOR_LIVER_QUALITY, RECIPIENT_BLOOD_TYPE, DONOR_BLOOD_TYPE, DONOR_RECIPIENT_BLOOD_LEVEL, GRAFT_FUNCTIONING, GRAFT_LIFESPAN, DONOR_ADMISSION_DATE, DONOR_TYPE, ORGAN_RECOVERY_DATE, WAITLIST_REGISTRATION_DATE, END_DATE, REASON_REMOVED_WAITLIST, RECIPIENT_STATUS]
Index: []

[0 rows x 33 columns]

In [194]:
from src.utils import *

waitlist_members = get_waitlist_members(pd.to_datetime('2012-12-27'))

/Users/justinebreuch/Stanford/CS238/Organ paper/src/utils.py:109: DtypeWarning: Columns (1,6,7,8,9,10,14,15,16,18,20,21,22,23,24,29,30,31,32,33,34,38,40,41,44,45,47,48,49,51,53,54,55,56,59,61,62,63,64,65,66,67,68,69,70,71,72,74,85,86,87,88,89,91,92,93,94,95,96,97,98,99,100,101,102,103,106,108,109,111,124,125,127,140,143,144,145,146,147,148,149,161,162,165,166,167,168,170,171,172,196,197,200,202,203,204,205,206,207,208,209,212,223,224,225,226,228,229,230,232,235,236,237,238,240,241,242,243,244,245,247,252,253,255,257,258,259,260,261,262,263,264,265,267,268,270,271,272,273,275,276,277,278,279,283,284,285,290,291,292,293,294,295,314,315,316,325,326,329,349,356,357,358,359,360,361,362,363,364,365,369,370,373,382,383,384,388,401,406,413,414,415) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(csv_file_path, delimiter='\t', encoding='ISO-8859-1')
/Users/justinebreuch/Stanford/CS238/Organ paper/src/utils.py:84: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  original_df.rename(columns={col: Column.from_code(col).name if Column.from_code(
/Users/justinebreuch/Stanford/CS238/Organ paper/src/utils.py:101: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  original_df[column] = original_df[column].map(
/Users/justinebreuch/Stanford/CS238/Organ paper/src/utils.py:159: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  original_df.replace('.', np.nan, inplace=True)

In [195]:
waitlist_members

,ORGAN_TRANSPLANT_ID,WAITLIST_ID,RECIPIENT_ID,DONOR_ID,RECIPIENT_GENDER,RECIPIENT_AGE,DONOR_AGE,INIT_MELD_OR_PELD,INIT_MELD_PELD_LAB_SCORE,FINAL_MELD_OR_PELD,...,DONOR_RECIPIENT_BLOOD_LEVEL,GRAFT_FUNCTIONING,GRAFT_LIFESPAN,DONOR_ADMISSION_DATE,DONOR_TYPE,ORGAN_RECOVERY_DATE,WAITLIST_REGISTRATION_DATE,END_DATE,REASON_REMOVED_WAITLIST,RECIPIENT_STATUS
10319,A610547,961401,866928,429742,M,62,21,MELD,10,MELD,...,1.0,N,54,05/12/2013,DECEASED,2013-05-16,2011-02-02,2013-05-17,TRANSPLANT,DIED
10643,A601682,968272,872897,423388,F,2,2,PELD,-5,PELD,...,1.0,Y,4045,01/06/2013,DECEASED,2013-01-15,2011-03-14,2013-01-15,TRANSPLANT,ALIVE
12266,A611042,592930,636570,430290,M,61,36,MELD,13,MELD,...,1.0,N,9,05/11/2013,DECEASED,2013-05-21,2006-08-30,2013-05-22,TRANSPLANT,DIED
12414,A643543,968757,872740,452726,F,62,59,MELD,11,MELD,...,1.0,NaN,3371,06/17/2014,DECEASED,2014-06-28,2011-03-17,2014-06-28,TRANSPLANT,LOST
14909,A605126,590569,116427,425994,M,27,71,MELD,10,MELD,...,1.0,Y,4037,03/06/2013,DECEASED,2013-03-08,2004-07-08,2013-03-08,TRANSPLANT,ALIVE
15912,A919888,965661,870808,628825,F,68,59,MELD,10,MELD,...,1.0,Y,742,02/08/2022,DECEASED,2022-02-14,2011-02-28,2022-02-14,TRANSPLANT,ALIVE
16860,NaN,155813,662599,<NA>,F,NaN,NaN,MELD,12,MELD,...,NaN,NaN,NaN,NaN,OTHER,NaT,2006-12-01,2015-05-21,TRANSPLANT,OTHER
21506,A606244,960255,866405,426776,M,58,30,MELD,17,MELD,...,1.0,Y,3975,03/09/2013,DECEASED,2013-03-21,2011-01-25,2013-03-21,TRANSPLANT,ALIVE
28086,A610450,247926,644212,429643,F,61,64,MELD,12,MELD,...,1.0,Y,1065,05/11/2013,DECEASED,2013-05-14,2006-07-14,2013-05-15,TRANSPLANT,DIED
28808,A639655,960502,866471,450024,M,35,32,MELD,14,MELD,...,1.0,Y,3686,05/07/2014,DECEASED,2014-05-11,2011-01-25,2014-05-11,TRANSPLANT,ALIVE
28883,NaN,955896,861693,<NA>,M,NaN,NaN,MELD,12,MELD,...,NaN,NaN,NaN,NaN,OTHER,NaT,2010-12-23,2013-11-20,OTHER,OTHER
31909,A823237,287273,666618,568814,M,65,66,MELD,14,MELD,...,1.0,Y,1448,09/16/2019,DECEASED,2019-09-19,2007-01-05,2019-09-20,TRANSPLANT,ALIVE
32966,A717234,959879,1128473,503747,M,60,57,MELD,9,MELD,...,1.0,NaN,265,10/23/2016,DECEASED,2016-10-26,2011-01-20,2016-10-26,TRANSPLANT,LOST
35486,A604444,967967,873156,425473,M,56,51,MELD,13,MELD,...,1.0,Y,3873,02/24/2013,DECEASED,2013-02-26,2011-03-15,2013-02-26,TRANSPLANT,ALIVE
38348,A692637,963230,867563,484054,F,46,37,MELD,11,MELD,...,2.0,N,87,NaN,LIVING,2016-02-04,2011-02-10,2016-02-04,TRANSPLANT,RETRANSPLANTED
39930,A630684,966797,871610,443545,F,65,62,MELD,10,MELD,...,1.0,Y,3560,01/10/2014,DECEASED,2014-01-12,2011-03-08,2014-01-12,TRANSPLANT,ALIVE
41270,A604231,967834,872605,424776,M,60,20,MELD,14,MELD,...,1.0,Y,3992,02/11/2013,DECEASED,2013-02-15,2011-03-16,2013-02-16,TRANSPLANT,ALIVE
42757,A635064,961262,866998,446935,M,61,20,MELD,14,MELD,...,1.0,Y,3689,03/11/2014,DECEASED,2014-03-13,2011-02-04,2014-03-13,TRANSPLANT,ALIVE
42972,A723510,443053,646646,507065,M,58,21,MELD,10,MELD,...,1.0,Y,2567,12/19/2016,DECEASED,2016-12-23,2006-08-03,2016-12-23,TRANSPLANT,ALIVE
43421,A663131,965457,870305,466529,F,59,55,MELD,12,MELD,...,1.0,Y,205,02/19/2015,DECEASED,2015-02-21,2011-03-04,2015-02-21,TRANSPLANT,DIED
44604,A601422,966801,116830,423496,F,65,44,MELD,22,MELD,...,1.0,Y,3478,01/09/2013,DECEASED,2013-01-15,2011-03-10,2013-01-15,TRANSPLANT,DIED
48353,A604243,66418,177645,425067,F,62,71,MELD,8,MELD,...,1.0,Y,2801,02/15/2013,DECEASED,2013-02-20,2004-08-20,2013-02-20,TRANSPLANT,DIED
51197,A646143,967940,873157,454661,M,56,54,MELD,13,MELD,...,1.0,Y,3300,07/27/2014,DECEASED,2014-07-28,2011-03-15,2014-07-29,TRANSPLANT,ALIVE
52427,A939794,967921,872588,641456,M,47,48,MELD,17,MELD,...,1.0,Y,393,07/16/2022,DECEASED,2022-08-04,2011-03-14,2022-08-04,TRANSPLANT,ALIVE
52955,A900969,962386,868225,615448,M,71,59,MELD,9,MELD,...,1.0,Y,1102,08/10/2021,DECEASED,2021-08-13,2011-02-10,2021-08-13,TRANSPLANT,ALIVE
53262,A700099,966605,872125,492076,M,62,30,MELD,6,MELD,...,1.0,Y,2897,04/24/2016,DECEASED,2016-04-27,2011-03-10,2016-04-28,TRANSPLANT,ALIVE
54112,A621300,958366,864747,437123,F,65,84,MELD,15,MELD,...,1.0,Y,3699,09/18/2013,DECEASED,2013-09-20,2011-01-14,2013-09-20,TRANSPLANT,ALIVE
54749,A647663,964004,9127,455740,M,60,35,MELD,14,MELD,...,1.0,Y,3662,08/17/2014,DECEASED,2014-08-19,2011-02-18,2014-08-19,TRANSPLANT,ALIVE
55008,A659133,964159,868861,463738,M,59,41,MELD,13,MELD,...,1.0,NaN,616,01/05/2014,DECEASED,2015-01-07,2011-02-14,2015-01-08,TRANSPLANT,LOST
56556,A745769,112628,651417,521703,M,64,23,MELD,12,MELD,...,1.0,Y,9,08/19/2017,DECEASED,2017-08-22,2006-09-06,2017-08-23,TRANSPLANT,DIED
56606,A644379,967578,871830,453549,M,55,23,MELD,15,MELD,...,1.0,Y,3577,07/05/2014,DECEASED,2014-07-08,2011-03-08,2014-07-08,TRANSPLANT,ALIVE
58666,NaN,256531,636570,<NA>,M,NaN,NaN,MELD,8,MELD,...,NaN,NaN,NaN,NaN,OTHER,NaT,2006-05-12,2013-05-22,OTHER,OTHER
59530,A639871,961469,867009,450190,M,70,44,MELD,13,MELD,...,1.0,Y,3657,05/07/2014,DECEASED,2014-05-09,2011-02-04,2014-05-09,TRANSPLANT,ALIVE
59605,A611119,963934,868971,430287,M,64,67,MELD,15,MELD,...,1.0,Y,1515,05/22/2013,DECEASED,2013-05-23,2011-02-16,2013-05-23,TRANSPLANT,DIED
59961,A635989,962408,867577,447394,M,23,53,MELD,8,MELD,...,1.0,Y,3469,03/23/2014,DECEASED,2014-03-27,2011-02-07,2014-03-27,TRANSPLANT,ALIVE
61884,A643989,964341,635722,453208,M,66,36,MELD,23,MELD,...,1.0,Y,3645,07/01/2014,DECEASED,2014-07-03,2011-02-16,2014-07-04,TRANSPLANT,ALIVE
62872,A627822,962438,868108,441359,M,63,53,MELD,16,MELD,...,1.0,Y,3595,12/03/2013,DECEASED,2013-12-08,2011-02-11,2013-12-09,TRANSPLANT,ALIVE
63303,A618458,967139,275307,435247,M,59,39,MELD,13,MELD,...,1.0,Y,4018,08/11/2013,DECEASED,2013-08-13,2011-03-10,2013-08-13,TRANSPLANT,ALIVE
65103,A631511,964410,869668,444064,M,68,40,MELD,11,MELD,...,1.0,Y,1119,01/22/2014,DECEASED,2014-01-26,2011-02-22,2014-01-26,TRANSPLANT,DIED
66875,A699180,963083,868301,491360,F,69,53,MELD,12,MELD,...,1.0,Y,2920,04/10/2016,DECEASED,2016-04-14,2011-02-08,2016-04-14,TRANSPLANT,ALIVE
67106,A821224,961118,1238605,566665,M,68,12,MELD,10,MELD,...,1.0,Y,314,08/16/2019,DECEASED,2019-08-23,2011-01-24,2019-08-24,TRANSPLANT,DIED
67411,A612636,967889,872348,431264,M,57,47,MELD,16,MELD,...,1.0,Y,4017,06/08/2013,DECEASED,2013-06-13,2011-03-17,2013-06-14,TRANSPLANT,ALIVE
69793,A629635,964887,870249,442937,M,64,59,MELD,11,MELD,...,1.0,Y,3383,12/27/2013,DECEASED,2014-01-03,2011-02-19,2014-01-03,TRANSPLANT,DIED
69852,A617336,815887,663715,434774,F,56,48,MELD,7,MELD,...,1.0,Y,3958,07/31/2013,DECEASED,2013-08-05,2006-12-05,2013-08-05,TRANSPLANT,ALIVE
72471,A606087,965365,869445,426718,F,76,39,MELD,10,MELD,...,1.0,Y,3045,03/15/2013,DECEASED,2013-03-18,2011-02-23,2013-03-18,TRANSPLANT,DIED
73430,A624544,966419,871126,439143,F,55,70,MELD,11,MELD,...,1.0,Y,3657,10/21/2013,DECEASED,2013-10-25,2011-02-28,2013-10-25,TRANSPLANT,ALIVE
74489,A670299,711276,448178,471513,M,63,65,MELD,10,MELD,...,1.0,Y,3315,05/13/2015,DECEASED,2015-05-18,2004-08-20,2015-05-18,TRANSPLANT,ALIVE
74607,A640002,967570,872965,450385,M,60,40,MELD,11,MELD,...,1.0,Y,2530,05/13/2014,DECEASED,2014-05-15,2011-03-11,2014-05-15,TRANSPLANT,DIED
75106,A600541,964662,4276,422355,M,59,74,MELD,11,MELD,...,1.0,Y,3758,12/25/2012,DECEASED,2012-12-29,2011-02-22,2012-12-29,TRANSPLANT,ALIVE
76935,A615228,1068514,869209,432673,F,30,55,MELD,10,MELD,...,1.0,Y,3897,07/03/2013,DECEASED,2013-07-06,2012-12-06,2013-07-07,OTHER,ALIVE
77026,A644041,965747,870443,453721,F,52,31,MELD,7,MELD,...,1.0,Y,3638,07/05/2014,DECEASED,2014-07-10,2011-03-02,2014-07-10,TRANSPLANT,ALIVE
79672,A639683,966235,870425,450248,M,62,58,MELD,14,MELD,...,1.0,Y,3552,05/08/2014,DECEASED,2014-05-13,2011-03-03,2014-05-13,TRANSPLANT,ALIVE
82265,A625921,967530,861693,440213,M,61,36,MELD,13,MELD,...,1.0,Y,955,11/13/2013,DECEASED,2013-11-16,2011-03-08,2013-11-16,TRANSPLANT,DIED
82893,A670162,196046,662599,470977,F,60,23,MELD,12,MELD,...,1.0,Y,3278,NaN,LIVING,2015-05-20,2006-12-01,2015-05-20,TRANSPLANT,ALIVE
84209,A610384,550191,668794,429656,M,67,28,MELD,20,MELD,...,1.0,Y,3182,05/11/2013,DECEASED,2013-05-15,2007-01-18,2013-05-15,TRANSPLANT,DIED
87184,A657744,571681,663184,462855,M,48,43,MELD,17,MELD,...,1.0,N,7,12/09/2014,DECEASED,2014-12-16,2006-12-06,2014-12-16,TRANSPLANT,RETRANSPLANTED
91901,A821690,962743,868339,567072,M,68,61,MELD,12,MELD,...,1.0,Y,1418,08/27/2019,DECEASED,2019-08-31,2011-02-09,2019-08-31,TRANSPLANT,ALIVE
92476,A643756,958772,864674,453264,M,36,39,MELD,21,MELD,...,1.0,Y,3666,06/29/2014,DECEASED,2014-07-03,2011-01-14,2014-07-04,TRANSPLANT,ALIVE

In [25]:
filter_dataframe(liver_organ_df, lambda df: df['ORGAN_TRANSPLANT_ID'] == 'A599900')

,ORGAN_TRANSPLANT_ID,WAITLIST_ID,RECIPIENT_ID,DONOR_ID,RECIPIENT_GENDER,RECIPIENT_AGE,DONOR_AGE,INIT_MELD_OR_PELD,INIT_MELD_PELD_LAB_SCORE,FINAL_MELD_OR_PELD,...,DONOR_BLOOD_TYPE,DONOR-RECIPIENT_BLOOD_LEVEL,GRAFT_FUNCTIONING,GRAFT_LIFESPAN,DONOR_ADMISSION_DATE,DONOR_TYPE,ORGAN_RECOVERY_DATE,WAITLIST_REGISTRATION_DATE,STATUS_AT_REGISTRATION,END_DATE
147273,A599900,169252,660340,422211,M,53,20,MELD,10,MELD,...,O,1.0,Y,4077,12/24/2012,Deceased,2012-12-27,2006-11-15,6210,2012-12-28

## Follow-up data
This is extra info because the most important follow-up data is in organ data

In [ ]:
liver_follow_up_df, follow_up_column_to_description_map = read_follow_up_data('LIVER_FOLLOWUP_DATA', 'Delimited Text File 202409/Liver/Individual Follow-up Records/LIVER_FOLLOWUP_DATA.DAT')

## Donor data
This is to get utilization rates. It includes all donor information (filtered on deceased donors)

In [ ]:
deceased_donor_df, donor_column_to_description_map = read_donor_data()

## Create a dataloader

We need to create @dataclasses for states and actions and load that instead but while we decide how to model state, you can load the staright data

In [ ]:
from src.dataloader import *

data_loader = DataLoader(dataframe=deceased_donor_df, batch_size=1)
train_loader, test_loader = data_loader.get_train_dataloader(), data_loader.get_test_dataloader()

for batch in train_loader:
    print("Train batch:", batch)