In [ ]:
!pip install openpyxl bs4 scikit-learn

In [1]:
%load_ext autoreload
%autoreload 2

In [72]:
import pandas as pd
import numpy as np
from src.utils import *

## Organ data 
Has waitlist and transplant information (living donor data removed)

Waiting list registrations can be selected by choosing records where WAITLIST_ID is not null.

Transplants performed can be selected by choosing records where ORGAN_TRANSPLANT_ID is not null.

In [ ]:
donor_df, _ = read_donor_data()

In [ ]:
from src.utils import *

# organs, _ = read_organ_data()
date = None #pd.to_datetime('2012-12-27')
available_organs = get_available_organs(by_date=date)

In [141]:
available_organs

,ORGAN_TRANSPLANT_ID,WAITLIST_ID,RECIPIENT_ID,DONOR_ID,RECIPIENT_GENDER,RECIPIENT_AGE,DONOR_AGE,INIT_MELD_OR_PELD,INIT_MELD_PELD_LAB_SCORE,FINAL_MELD_OR_PELD,...,DONOR_RECIPIENT_BLOOD_LEVEL,GRAFT_FUNCTIONING,GRAFT_LIFESPAN,DONOR_ADMISSION_DATE,DONOR_TYPE,ORGAN_RECOVERY_DATE,WAITLIST_REGISTRATION_DATE,END_DATE,REASON_REMOVED_WAITLIST,RECIPIENT_STATUS
0,A458155,369025,141128,253469,F,39,38,NaN,NaN,NaN,...,1.0,NaN,4445,NaN,DECEASED,1990-04-09,1990-02-08,1990-04-10,OTHER,RETRANSPLANTED
1,A603158,1058512,949476,424580,F,55,39,MELD,14,MELD,...,1.0,Y,822,02/03/2013,DECEASED,2013-02-05,2012-10-02,2013-02-06,OTHER,DIED
2,A921705,1637773,1436993,629490,M,35,37,MELD,22,MELD,...,1.0,Y,720,02/22/2022,DECEASED,2022-02-26,2021-12-15,2022-02-26,OTHER,ALIVE
3,A36766,361959,656339,299289,M,65,14,MELD,7,MELD,...,1.0,NaN,5124,NaN,DECEASED,2007-03-14,2006-10-12,2007-03-15,OTHER,LOST
4,A286174,612698,254707,208946,M,50,49,MELD,40,MELD,...,2.0,NaN,350,NaN,DECEASED,2004-10-13,2004-10-09,2004-10-13,OTHER,LOST
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52069,A368084,872293,58270,95991,M,69,47,MELD,12,MELD,...,2.0,Y,6800,NaN,DECEASED,2002-08-30,2002-08-29,2002-08-30,OTHER,DIED
52070,A792445,1414905,1250372,549519,F,65,50,MELD,18,MELD,...,1.0,Y,1826,11/26/2018,DECEASED,2018-12-01,2018-08-03,2018-12-01,OTHER,ALIVE
52071,A408383,157035,213154,56933,M,50,43,NaN,NaN,NaN,...,1.0,Y,5015,NaN,DECEASED,1997-02-13,1997-01-28,1997-02-13,OTHER,DIED
52072,A631380,1112270,994117,444223,F,62,43,MELD,21,MELD,...,1.0,Y,3646,01/25/2014,DECEASED,2014-01-30,2013-08-30,2014-01-30,OTHER,ALIVE
52073,A229874,711461,368692,224785,F,56,48,MELD,11,MELD,...,1.0,N,1309,12/08/2007,DECEASED,2007-12-20,2007-01-04,2007-12-20,DECEASED_DONOR,DIED

In [ ]:
testing_out_members = organ_df, _ = read_organ_data()
testing_out_members = organ_df.dropna(subset=[Column.WAITLIST_ID.name])
testing_out_members

In [127]:
testing_out_members

,ORGAN_TRANSPLANT_ID,WAITLIST_ID,RECIPIENT_ID,DONOR_ID,RECIPIENT_GENDER,RECIPIENT_AGE,DONOR_AGE,INIT_MELD_OR_PELD,INIT_MELD_PELD_LAB_SCORE,FINAL_MELD_OR_PELD,...,DONOR_RECIPIENT_BLOOD_LEVEL,GRAFT_FUNCTIONING,GRAFT_LIFESPAN,DONOR_ADMISSION_DATE,DONOR_TYPE,ORGAN_RECOVERY_DATE,WAITLIST_REGISTRATION_DATE,END_DATE,REASON_REMOVED_WAITLIST,RECIPIENT_STATUS
0,A725041,1257938,1117633,508770,F,63,58,MELD,19,MELD,...,1.0,Y,2606,01/14/2017,DECEASED,2017-01-17,2016-01-29,2017-01-17,OTHER,ALIVE
4,A326256,566097,516149,18092,M,49,47,MELD,15,MELD,...,2.0,Y,1970,NaN,DECEASED,2003-08-11,2003-04-29,2003-08-11,OTHER,DIED
5,A174575,812778,341564,57576,M,49,35,NaN,NaN,NaN,...,1.0,Y,612,NaN,DECEASED,1994-06-09,1994-04-29,1994-06-10,OTHER,DIED
7,A616354,1074736,962438,433640,M,63,58,MELD,12,MELD,...,1.0,Y,1135,07/14/2013,DECEASED,2013-07-21,2013-01-14,2013-07-22,OTHER,DIED
8,A601320,1040669,857845,422849,F,66,20,MELD,13,MELD,...,1.0,N,3,01/08/2013,DECEASED,2013-01-12,2012-06-15,2013-01-13,OTHER,DIED
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93118,A460344,555443,19387,77972,M,52,38,MELD,18,MELD,...,1.0,Y,464,NaN,DECEASED,2004-04-01,2004-01-16,2004-04-01,OTHER,DIED
93119,A251246,815011,524092,28648,M,0,1,NaN,NaN,NaN,...,1.0,NaN,8678,NaN,DECEASED,1990-11-29,1990-10-05,1990-11-30,OTHER,LOST
93121,A89531,355984,468174,141086,M,57,14,NaN,NaN,NaN,...,1.0,NaN,2240,NaN,DECEASED,1999-03-30,1999-01-04,1999-03-30,OTHER,LOST
93122,A741565,1345926,1192032,519336,M,64,30,MELD,35,MELD,...,1.0,Y,371,07/07/2017,DECEASED,2017-07-12,2017-07-07,2017-07-12,OTHER,DIED
93123,A116558,699146,107097,79587,F,58,15,NaN,NaN,NaN,...,1.0,NaN,748,NaN,DECEASED,1995-02-04,1994-10-31,1995-02-05,OTHER,LOST

In [126]:
filter_dataframe(testing_out_members, lambda df: df['RECIPIENT_ID'].isna())

Empty DataFrame
Columns: [ORGAN_TRANSPLANT_ID, WAITLIST_ID, RECIPIENT_ID, DONOR_ID, RECIPIENT_GENDER, RECIPIENT_AGE, DONOR_AGE, INIT_MELD_OR_PELD, INIT_MELD_PELD_LAB_SCORE, FINAL_MELD_OR_PELD, FINAL_MELD_PELD_LAB_SCORE, FUNCTIONAL_STATUS_AT_REGISTRATION, FUNCTIONAL_STATUS_AT_FOLLOW_UP, FUNCTIONAL_STATUS_AT_TRANSPLANT, STATUS_AT_REGISTRATION, DIAGNOSIS, PATIENT_SURVIVAL_TIME, DAYS_ON_WAITLIST, REJECTED_WITHIN_YEAR, TRANSPLANT_DATE, DONOR_LIVER_QUALITY, RECIPIENT_BLOOD_TYPE, DONOR_BLOOD_TYPE, DONOR_RECIPIENT_BLOOD_LEVEL, GRAFT_FUNCTIONING, GRAFT_LIFESPAN, DONOR_ADMISSION_DATE, DONOR_TYPE, ORGAN_RECOVERY_DATE, WAITLIST_REGISTRATION_DATE, END_DATE, REASON_REMOVED_WAITLIST, RECIPIENT_STATUS]
Index: []

[0 rows x 33 columns]

In [ ]:
from src.utils import *

waitlist_members = get_waitlist_members(pd.to_datetime('2012-12-27'))

In [134]:
waitlist_members

,ORGAN_TRANSPLANT_ID,WAITLIST_ID,RECIPIENT_ID,DONOR_ID,RECIPIENT_GENDER,RECIPIENT_AGE,DONOR_AGE,INIT_MELD_OR_PELD,INIT_MELD_PELD_LAB_SCORE,FINAL_MELD_OR_PELD,...,DONOR_RECIPIENT_BLOOD_LEVEL,GRAFT_FUNCTIONING,GRAFT_LIFESPAN,DONOR_ADMISSION_DATE,DONOR_TYPE,ORGAN_RECOVERY_DATE,WAITLIST_REGISTRATION_DATE,END_DATE,REASON_REMOVED_WAITLIST,RECIPIENT_STATUS
116,A615990,1036254,930188,433211,F,68,36,MELD,20,MELD,...,1.0,Y,274,07/11/2013,DECEASED,2013-07-15,2012-05-15,2013-07-15,OTHER,DIED
198,A737420,1004115,902515,516122,M,46,46,MELD,14,MELD,...,1.0,Y,2151,05/23/2017,DECEASED,2017-05-29,2011-10-26,2017-05-29,OTHER,ALIVE
200,A612434,1012516,910444,430772,M,62,43,MELD,8,MELD,...,1.0,Y,713,05/29/2013,DECEASED,2013-06-02,2011-12-20,2013-06-03,OTHER,DIED
234,A618353,351618,699348,435320,F,67,38,MELD,11,MELD,...,1.0,Y,3602,08/10/2013,DECEASED,2013-08-12,2007-09-06,2013-08-12,OTHER,ALIVE
276,A630121,1039782,932734,442966,F,63,23,MELD,9,MELD,...,1.0,Y,1613,12/19/2013,DECEASED,2014-01-05,2012-06-05,2014-01-06,OTHER,DIED
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92480,A611821,1063560,952747,430426,M,56,55,MELD,10,MELD,...,1.0,Y,1518,05/25/2013,DECEASED,2013-05-27,2012-10-29,2013-05-28,OTHER,DIED
92727,A600986,1052415,946358,422802,M,0,0,PELD,17,PELD,...,1.0,Y,3960,12/31/2012,DECEASED,2013-01-05,2012-08-30,2013-01-05,OTHER,ALIVE
92737,A628031,910375,822552,441333,M,60,18,MELD,14,MELD,...,1.0,Y,3628,12/04/2013,DECEASED,2013-12-06,2010-03-18,2013-12-06,OTHER,ALIVE
92798,A642170,1052032,942820,451633,M,22,20,MELD,37,MELD,...,1.0,Y,3614,06/03/2014,DECEASED,2014-06-07,2012-08-23,2014-06-07,OTHER,ALIVE
92914,A711318,808676,96373,499062,M,68,38,MELD,13,MELD,...,1.0,Y,2538,08/15/2016,DECEASED,2016-08-20,2004-05-06,2016-08-20,OTHER,ALIVE

In [25]:
filter_dataframe(liver_organ_df, lambda df: df['ORGAN_TRANSPLANT_ID'] == 'A599900')

,ORGAN_TRANSPLANT_ID,WAITLIST_ID,RECIPIENT_ID,DONOR_ID,RECIPIENT_GENDER,RECIPIENT_AGE,DONOR_AGE,INIT_MELD_OR_PELD,INIT_MELD_PELD_LAB_SCORE,FINAL_MELD_OR_PELD,...,DONOR_BLOOD_TYPE,DONOR-RECIPIENT_BLOOD_LEVEL,GRAFT_FUNCTIONING,GRAFT_LIFESPAN,DONOR_ADMISSION_DATE,DONOR_TYPE,ORGAN_RECOVERY_DATE,WAITLIST_REGISTRATION_DATE,STATUS_AT_REGISTRATION,END_DATE
147273,A599900,169252,660340,422211,M,53,20,MELD,10,MELD,...,O,1.0,Y,4077,12/24/2012,Deceased,2012-12-27,2006-11-15,6210,2012-12-28

## Follow-up data
This is extra info because the most important follow-up data is in organ data

In [ ]:
liver_follow_up_df, follow_up_column_to_description_map = read_follow_up_data('LIVER_FOLLOWUP_DATA', 'Delimited Text File 202409/Liver/Individual Follow-up Records/LIVER_FOLLOWUP_DATA.DAT')

## Donor data
This is to get utilization rates. It includes all donor information (filtered on deceased donors)

In [ ]:
deceased_donor_df, donor_column_to_description_map = read_donor_data()

## Create a dataloader

We need to create @dataclasses for states and actions and load that instead but while we decide how to model state, you can load the staright data

In [ ]:
from src.dataloader import *

data_loader = DataLoader(dataframe=deceased_donor_df, batch_size=1)
train_loader, test_loader = data_loader.get_train_dataloader(), data_loader.get_test_dataloader()

for batch in train_loader:
    print("Train batch:", batch)